nav {
  background-color: var(--color-primary);
  height: 63px;

  .navbar-brand {
    padding: 0;
    margin-top: -15px;

    img {
      max-height: 40px;
    }
  }

  .nav-link {
    padding: 10px;
    font-size: 1rem;
    color: var(--color-light);
    text-align: center;
    margin: 0 10px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -1px !important;
  }

  .active-link {
    background-color: white;
    color: var(--color-primary);
    position: relative;
  }
}

button {
  background: none;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
}


::ng-deep {
  .modal-content {
    background-color: var(--color-light);
    color: var(--color-primary);
    padding: 10px;
  }
}

@media (max-width: 991px) {
  nav {
    height: unset;

    .navbar-brand {
      margin-top: 0;
    }

    .nav-link {
      margin: unset;
      border-radius: 5px;
      margin-bottom: unset;
    }
  }
}

