nav {
  height: 70px;
  background-color: var(--color-primary);

  .navbar-brand {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(106%) contrast(101%);
      rotate: 45deg;
      max-height: 50px;
    }

    img:last-child {
      rotate: -45deg;
      margin-left: 10px;
      max-height: 40px;
      position: absolute;
      top: 50%;
      transform: translate(24%, -49%);
    }
  }

  .nav-link {
    color: white;
    padding-bottom: 14px;
    margin: 0 10px;
    border-radius: 5px 5px 0px 0px;
  }

  .active-link {
    background-color: white;
    color: var(--color-primary);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 20px;
      height: 20px;
      background-image: radial-gradient(circle at 100% 0, transparent 0%, transparent 20px, white 20px);
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 20px;
      height: 20px;
      background-image: radial-gradient(circle at 100% 0, transparent 0%, transparent 20px, white 20px);
      transform: scaleX(-1);
    }
  }

}

button {
	position: fixed;
	top: 1vw;
	right: 1vw;
	z-index: 5;
	background: none;
	border: 0;
	outline: none;
	color: white;
	cursor: pointer;
}
