<header id="header" *ngIf="userService.currentUser ">
  <nav class="navbar navbar-expand-lg py-3 py-lg-0" id="navbar">
    <div class="container-fluid align-self-end">
      <a class="navbar-brand" [routerLink]="'home'">
        <img src="assets/images/logo_white.png">
      </a>

      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav py-3 py-lg-0">
          <li class="nav-item" ngbDropdown *ngIf="userService.currentUser.userRoles.length > 1">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> {{ selectedWedding === 'friend' ? 'Boda Amigos' : 'Boda Familia' }} </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault(); weddingSelect('friend')">Boda Amigos</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault(); weddingSelect('family')">Boda Familia</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'lugar'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Lugar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'consejos'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Consejos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'nosotros'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'invitados'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Invitados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'confirmacion'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Confirmación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'planning'"  routerLinkActive="active-link" (click)="isMenuCollapsed = true">Planning</a>
          </li>
          <li class="m-auto d-none d-lg-inline-block">
            <button (click)="fullScreen()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize">
                <path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<ng-template #weddingDateModal let-modal>
  <div class="modal-header border-bottom-0">
    <h5 class="modal-title">{{userService.currentUser.gender === 'multiple' ? 'Bienvenidos': (userService.currentUser.gender === 'male' ?'Bienvenido' : 'Bienvenida')}} {{ userService.currentUser.name }}</h5>
  </div>

  <div class="modal-body font-size-1_1">
    <p>
      {{ userService.currentUser.gender === 'multiple' ? 'Sois especialmente importantes para nosotros y os consideramos amigos y familia 🥰. Por favor decidnos, ¿de qué enlace quieres conocer los detalles?': 'Eres especialmente importante para nosotros y te consideramos amigo y familia 🥰. Por favor dinos, ¿de qué enlace quieres conocer los detalles?'}}
    </p>
</div>
  <div class="modal-footer justify-content-center row m-0">
    <button type="button" class="btn bg-color-secondary color-primary col-5" (click)="modal.dismiss('cancel click'); weddingSelect('friend')">Boda Amigos <br> 08-09/0/2024</button>
    <button type="button" class="btn bg-color-primary color-light col-5" (click)="modal.dismiss('cancel click'); weddingSelect('family')">Boda Familia <br> 15/06/2024</button>
  </div>
</ng-template>
