nav {
  background-color: var(--color-primary);
  // border-bottom: 1px solid var(--color-light);

  .navbar-brand {
    padding: 0;
    margin-top: -15px;

    img {
      // filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(106%) contrast(101%);
      max-height: 40px;
    }
  }

  .nav-link {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--color-light);
    text-align: center;
  }

  .active-link {
    background-color: white;
    color: var(--color-primary);
    position: relative;
    // border: 1px solid var(--color-light);
  }

}

button {
  background: none;
  border: 0;
  outline: none;
  color: white;
  cursor: pointer;
}

@media (min-width: 768px) {
  nav {
    height: 63px;

    .nav-link {
      margin: 0 10px;
      border-radius: 5px 5px 0px 0px;
      margin-bottom: -1px !important;
    }

    .active-link {
      position: relative;
      // border-bottom: 1px solid var(--color-primary);
      // border-bottom: none;
    }
  }
}
