::ng-deep {
  .carousel-inner {
    margin-top: -30px;

    .carousel-item {
      height: 350px;
    }

    .carousel-caption {
      max-width: 500px !important;
      left: 50%;
      top: 50%;
      right: unset;
      bottom: unset;
      transform: translate(-50%, -50%);
    }
  }
  @media (max-width: 991px) {
    .carousel-inner .carousel-caption{
      width: 70vw;
    }
  }
}

p {
  margin-bottom: 0;
}

img {
  max-height: 100%;
}

.image_1{
  background: url("../../assets/images/us/27.webp") no-repeat center center/cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .image_1 {
    min-height: 250px;
  }
}
