<div class="page-header">
  <h1 class="title">2. Consejos</h1>
  <p class="subtitle">Revisa los datos de tu invitación y los consejos a tener en cuenta</p>
</div>
<div id="invitationComponent" class="container">

  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="card p-3 p-lg-4">
        <h3 class="text-center">Recuérdame ¿Cómo era la invitación?</h3>
        <p>
          Esto seguramente no sea para nada necesario porque para acceder a la web has tenido que tener la invitación delante...pero ya que somos programadores... ¡Dejanos lucirnos lucirnos con esta animación 3D tan guay!
        </p>
        <button class="btn btn-light" (click)="utilsService.logOut()">logOut</button>
        <button class="btn btn-light" (click)="openModal(invitationModal)">invitación</button>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
         class="w-100">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
         class="w-100">
    </div>
    <div class="col-lg-8">
      <div class="card p-3 p-lg-4">
        <h3 class="text-center">Son 2 días...¿Qué ropa me recomendáis llevar?</h3>
        <p>
          Como bien dices, son 2 días y es importante organizar bien la mochila/maletita (por favor no vengas con un maletón que cobramos sobrepeso como Ryanair).
        </p>
        <p class="mb-0">Para estar cómodos estos 2 días te recomendamos traer:</p>
        <ul>
            <li>Un look casual para la llegada (como te vestirías un día normal para salir con amigos)</li>
            <li>Zapato cómodo para andar al llegar (no vas a subir una montaña pero no vengas en tacones por favor)</li>
            <li>Traje tipo cocktail para la tarde-noche (tacones welcome... pero no de aguja mejor)</li>
            <li>Pijama divertido ya que habrá concurso (totalmente obligatorio participar)</li>
            <li>Algo ligero con lo que cubrirte en al noche (chaqueta por ejemplo) por si refresca.</li>
            <li>Bañador (No se te olvide o te arrepentirás mucho)</li>
            <li>Look business casual para el 2º día (lo mismo que para llegar pero un pelín más arreglado)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-8">
      <div class="card p-3 p-lg-4">
        <h3 class="text-center">Para esa noche... ¿He de buscar dónde dormir?</h3>
        <p>
          ¡Por supuesto que no! Esto es una experiencia <i>all included</i> (insertar gif lanzando billetes).
        </p>
        <p>
          La noche del 8 al 9 nos encargamos nosotros de proporcionarte alojamiento (no es un hotel, imagínate algo mas rollo...glamping). Solo recuerda traer lo que puedas necesitar de acomodamiento (toalla, liquido lentillas, cepillo de dientes...). Eso y buen humor porque lo vamos a pasar genial.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
         class="w-100">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4">
      <img src="https://images.unsplash.com/photo-1537047902294-62a40c20a6ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"
         class="w-100">
    </div>
    <div class="col-lg-8">
      <div class="card p-3 p-lg-4">
        <h3 class="text-center">Me caéis super bien y me gustaría haceros un regalo</h3>
        <p>
          Uy! ¡Qué inesperado! La verdad es que no esperabamos caer bien a la gente que hemos <strong>invitado a nuestra boda</strong>.
        </p>
        <p>
          Por supuesto todos los regalos son bienvenidos porque aunque sabemos, que el mejor regalo es vuestra amistad... lamentablemente el viaje de novios no de paga con cariño. Por ello hemos habilitado una cuenta bancaria común (esto si es compromiso) en la que podéis darnos el regalo que estiméis que vale nuestra amistad (2k en adelante).
        </p>
        <p class="text-center">ES 12 3456 7890 12 34567890 <br> (por supuesto en mano también es bien recibido)</p>
      </div>
    </div>
  </div>
</div>

<!-- cosas a llevar (poner cosas graciosas como llevra flotador, pantalon de perreo (para que no te apse lo que a jaime)) -->
<!-- datos de pago https://codepen.io/emacampa/pen/MWOygoV -->


<ng-template ng-template #invitationModal let-modal>
  <section class="cartridge">
    <div class="case">
      <figure class="front">
        <figure></figure>
        <figure class="label"></figure>
      </figure>

      <figure class="back">
        <figure></figure>
      </figure>

      <figure class="rightside">
        <figure></figure>
      </figure>

      <figure class="leftside">
        <figure></figure>
      </figure>

      <figure class="topside">
        <figure></figure>
      </figure>

      <figure class="bottomside">
        <figure></figure>
      </figure>

    </div>
  </section>
</ng-template>
