<div class="page-header">
  <h1 class="title">2. Invitación</h1>
  <p class="subtitle">Revisa los datos de tu invitación y los consejos a tener en cuenta</p>
</div>
<div id="reservationComponent" class="container">
  <button class="btn btn-light" (click)="utilsService.logOut()">logOut</button>
  <button class="btn btn-light" (click)="openModal()">invitación</button>
</div>

  <!-- cosas a llevar (poner cosas graciosas como llevra flotador, pantalon de perreo (para que no te apse lo que a jaime)) -->
  <!-- datos de pago https://codepen.io/emacampa/pen/MWOygoV -->
  <ng-template ng-template #invitationModal let-modal>
    <section class="cartridge">
      <div class="case">
        <figure class="front">
          <figure></figure>
        <figure class="label"></figure>
      </figure>

      <figure class="back">
        <figure></figure>
      </figure>

      <figure class="rightside">
        <figure></figure>
      </figure>

      <figure class="leftside">
        <figure></figure>
      </figure>

      <figure class="topside">
        <figure></figure>
      </figure>

      <figure class="bottomside">
        <figure></figure>
      </figure>

    </div>
  </section>
</ng-template>

