<div class="header">
  <h1 id="title" class="text-center">Formulario de Check-in</h1>
  <p id="description" class="text-center">
    Gracias por volar con nosotros, en breves podrás confirmar tu reserva
  </p>
</div>
<div class="form-wrap">
  <form method="POST" id="survey-form"
    action="https://script.google.com/macros/s/AKfycbyX6kzYOpLEKSFs2t37ajilEp3ONZMGgym-epjG6rpojL8s9bXkgzJjCYKSgd8JR0rN/exec">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label id="name-label" for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre" class="form-control" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label id="name-label" for="apellido">Apellido</label>
          <input type="text" name="apellido" id="apellido" placeholder="Introduce tu apellido" class="form-control"
            required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label id="email-label" for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Introduce tu email" class="form-control" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label id="telefono-label" for="telefono">Teléfono</label>
          <input type="telefono" name="telefono" id="telefono" placeholder="Introduce tu teléfono" class="form-control"
            required>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="menu">Menú</label>
          <select id="menu" name="menu" class="form-control" required>
            <option disabled selected value>Selecciona una opción de comida</option>
            <option value="normal">Normal</option>
            <option value="vegetariano">Vegetariano</option>
            <option value="celiaco">Sin gluten</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="bebida">Bebida</label>
          <select id="bebida" name="bebida" class="form-control" required>
            <option disabled selected value>Selecciona una opción de bebida</option>
            <option value="sin">Sin alcohol</option>
            <option value="fermentados">Solo fermentados</option>
            <option value="floreros">Hasta el agua de los floreros</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label id="name-label" for="alergia">Alergias</label>
          <input type="text" name="alergia" id="alergia" placeholder="Rellena si tienes alguna alergia"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Transporte</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="transporte1" value="si" name="transporte" class="custom-control-input" checked="">
            <label class="custom-control-label" for="transporte1">Si</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="transporte2" value="no" name="transporte" class="custom-control-input">
            <label class="custom-control-label" for="transporte2">No</label>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label>Alojamiento</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="alojamiento1" value="si" name="alojamiento" class="custom-control-input" checked="">
            <label class="custom-control-label" for="alijamiento1">Si</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="alojamiento2" value="no" name="alojamiento" class="custom-control-input">
            <label class="custom-control-label" for="alojamiento2">No</label>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Otros</label>
          <textarea id="otros" class="form-control" name="otros"
            placeholder="Dinos si tienes alguna otra información relevante..."></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label id="name-label" for="descuento">Código de descuento</label>
          <input type="text" name="descuento" id="descuento" placeholder="Introduce tu código de descuento"
            class="form-control" required>
        </div>
      </div>
    </div>

    <div class="row d-none">
      <div class="col-lg-4">
        <button type="submit" id="submitbtn" class="btn btn-primary btn-block">Enviar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-4">
      <button (click)="onSubmit()" class="btn btn-primary btn-block">Enviar</button>
    </div>
  </div>
</div>
