<div class="page-header">
  <h1 class="title">5. Confirmación</h1>
  <p class="subtitle">Confirma tus datos antes del día (cuanto antes mejor)</p>
</div>
<div id="formComponent" class="container">
  <div class="form-wrap">
    <form method="POST" ngNoForm action="https://script.google.com/macros/s/AKfycbxsUYVD43uXzepIWlvK3X3e9h1BAbzCIqARhfVydo_i-r9RhGfiZGtI0j9PR-8yrlqn/exec" target="_blank">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label id="name-label" for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Introduce tu nombre" class="form-control">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label id="name-label" for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" placeholder="Introduce tu apellido" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label id="email-label" for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Introduce tu email" class="form-control">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label id="telefono-label" for="telefono">Teléfono</label>
            <input type="telefono" name="telefono" id="telefono" placeholder="Introduce tu teléfono" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="menu">Menú</label>
            <select id="menu" name="menu" class="form-control">
              <option disabled selected value>Selecciona una opción de comida</option>
              <option value="carne">Carne</option>
              <option value="pescado" *ngIf="userService.selectedWedding == 'family'">Pescado</option>
              <option value="vegetariano">Vegetariano</option>
              <option value="celiaco">Sin gluten</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="bebida">Bebida</label>
            <ng-select class="custom" [items]="drinks" bindLabel="name" bindValue="name" [(ngModel)]="drinksSelected"
              [multiple]="true" groupBy="kind" placeholder="Selecciona que tomarás de bebida">
              <ng-template ng-optgroup-tmp let-item="item">{{item.kind || 'Otros'}}</ng-template>
            </ng-select>
            <input hidden type="text" name="bebida" id="bebida" [value]="drinksSelected">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label id="name-label" for="alergia">Alergias / Intolerancias</label>
            <input type="text" name="alergia" id="alergia" placeholder="Rellena si tienes alguna alergia o intolerancia"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-6" [class]="userService.selectedWedding == 'friend' ? 'd-flex' : 'd-none'">
          <div class="form-group">
            <label>Transporte</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="transporte1" value="si" name="transporte" class="custom-control-input">
              <label class="custom-control-label ms-1" for="transporte1">Si</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="transporte2" value="no" name="transporte" class="custom-control-input" [checked] = "userService.selectedWedding == 'family'">
              <label class="custom-control-label ms-1" for="transporte2">No</label>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 pe-0" [class]="userService.currentUser.userRoles.length > 1 ? 'd-flex' : 'd-none'" >
          <div class="form-group">
            <label>Boda</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="boda1" value="amigos" name="boda" class="custom-control-input" [checked] = "userService.selectedWedding == 'friend'">
              <label class="custom-control-label ms-1" for="boda1">Amigos</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="boda2" value="familia" name="boda" class="custom-control-input" [checked] = "userService.selectedWedding == 'family'">
              <label class="custom-control-label ms-1" for="boda2">Familia</label>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label>Otros</label>
            <textarea id="otros" class="form-control" name="otros"
              placeholder="Dinos si tienes alguna otra información relevante..."></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mx-auto">
          <button class="answer w-100" type="submit" id="submitbtn">Enviar</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="form-group mb-0">
          <label>Música</label>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <p class="color-secondary mt-3">Queremos que te sientas parte de la celebración y por ello puedes mandarnos tus sugerencias de música o añadirlas a la lista de Spotify que hemos creado. No prometemos que suene todo... pero la ilusión es lo último que se pierde.</p>
            <a href="https://open.spotify.com/playlist/7GQnWEnuR3I7FneuEYZZVn?si=cb6a39b53dd742f1&pt=b91763eb0e94136834a598c8658f2fb4" target="_blank" class="answer btn">Añadir a Spotify</a>
          </div>

        </div>
        <div class="col-lg-6">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7GQnWEnuR3I7FneuEYZZVn?utm_source=generator" width="100%" height="351" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>

    </form>
  </div>
</div>

