<app-header *ngIf="isNotLogin"></app-header>
<main [class]="isNotLogin ? null: 'loginStyle'">
  <router-outlet></router-outlet>
</main>
<app-footer *ngIf="isNotLogin"></app-footer>

<div id="preloadImages">
  <div style="background-image:url(assets/travelers/1.webp)"></div>
  <div style="background-image:url(assets/travelers/2.webp)"></div>
  <div style="background-image:url(assets/travelers/3.webp)"></div>
  <div style="background-image:url(assets/travelers/4.webp)"></div>
  <div style="background-image:url(assets/travelers/5.webp)"></div>
  <div style="background-image:url(assets/travelers/6.webp)"></div>
  <div style="background-image:url(assets/travelers/7.webp)"></div>
  <div style="background-image:url(assets/travelers/8.webp)"></div>
  <div style="background-image:url(assets/travelers/9.webp)"></div>
  <div style="background-image:url(assets/travelers/10.webp)"></div>
  <div style="background-image:url(assets/travelers/11.webp)"></div>
  <div style="background-image:url(assets/travelers/12.webp)"></div>
  <div style="background-image:url(assets/travelers/13.webp)"></div>
  <div style="background-image:url(assets/travelers/14.webp)"></div>
  <div style="background-image:url(assets/travelers/15.webp)"></div>
  <div style="background-image:url(assets/travelers/16.webp)"></div>
  <div style="background-image:url(assets/travelers/17.webp)"></div>
  <div style="background-image:url(assets/travelers/18.webp)"></div>
  <div style="background-image:url(assets/travelers/19.webp)"></div>
  <div style="background-image:url(assets/travelers/20.webp)"></div>
  <div style="background-image:url(assets/travelers/21.webp)"></div>
  <div style="background-image:url(assets/travelers/22.webp)"></div>
  <div style="background-image:url(assets/travelers/23.webp)"></div>
  <div style="background-image:url(assets/travelers/24.webp)"></div>
  <div style="background-image:url(assets/travelers/25.webp)"></div>
  <div style="background-image:url(assets/images/us/1.webp)"></div>
  <div style="background-image:url(assets/images/us/2.webp)"></div>
  <div style="background-image:url(assets/images/us/3.webp)"></div>
  <div style="background-image:url(assets/images/us/4.webp)"></div>
  <div style="background-image:url(assets/images/us/5.webp)"></div>
  <div style="background-image:url(assets/images/us/6.webp)"></div>
  <div style="background-image:url(assets/images/us/7.webp)"></div>
  <div style="background-image:url(assets/images/us/8.webp)"></div>
  <div style="background-image:url(assets/images/us/9.webp)"></div>
  <div style="background-image:url(assets/images/us/10.webp)"></div>
  <div style="background-image:url(assets/images/us/11.webp)"></div>
  <div style="background-image:url(assets/images/us/12.webp)"></div>
  <div style="background-image:url(assets/images/us/13.webp)"></div>
  <div style="background-image:url(assets/images/us/14.webp)"></div>
  <div style="background-image:url(assets/images/us/15.webp)"></div>
  <div style="background-image:url(assets/images/us/16.webp)"></div>
  <div style="background-image:url(assets/images/us/17.webp)"></div>
  <div style="background-image:url(assets/images/us/18.webp)"></div>
  <div style="background-image:url(assets/images/us/19.webp)"></div>
  <div style="background-image:url(assets/images/us/20.webp)"></div>
  <div style="background-image:url(assets/images/us/21.webp)"></div>
  <div style="background-image:url(assets/images/us/22.webp)"></div>
  <div style="background-image:url(assets/images/us/23.webp)"></div>
  <div style="background-image:url(assets/images/us/24.webp)"></div>
  <div style="background-image:url(assets/images/us/25.webp)"></div>
  <div style="background-image:url(assets/images/us/26.webp)"></div>
  <div style="background-image:url(assets/images/us/27.webp)"></div>
  <div style="background-image:url(assets/images/us/28.webp)"></div>
  <div style="background-image:url(assets/images/us/29.webp)"></div>
  <div style="background-image:url(assets/images/us/30.webp)"></div>
  <div style="background-image:url(assets/images/us/31.webp)"></div>
  <div style="background-image:url(assets/images/us/32.webp)"></div>
  <div style="background-image:url(assets/images/us/33.webp)"></div>
  <div style="background-image:url(assets/images/us/34.webp)"></div>
  <div style="background-image:url(assets/images/AmigosBlancaDelante.png)"></div>
  <div style="background-image:url(assets/images/Amigos-FamiliaBlancaDelante.png)"></div>
  <div style="background-image:url(assets/images/FamiliaBlancaDelante.png)"></div>
  <div style="background-image:url(assets/images/colegiata.webp)"></div>
  <div style="background-image:url(assets/images/Como.png)"></div>
  <div style="background-image:url(assets/images/Familia.jpg)"></div>
  <div style="background-image:url(assets/images/jardines.webp)"></div>
  <div style="background-image:url(assets/images/laGranja.webp)"></div>
  <div style="background-image:url(assets/images/logo_dorado.png)"></div>
  <div style="background-image:url(assets/images/logo_white.png)"></div>
  <div style="background-image:url(assets/images/logo.png)"></div>
  <div style="background-image:url(assets/images/marcoRectangular_abajo.webp)"></div>
  <div style="background-image:url(assets/images/marcoRectangular_arriba.webp)"></div>
  <div style="background-image:url(assets/images/parador.webp)"></div>
  <div style="background-image:url(assets/images/ParadorDeLaGranja.webp)"></div>
  <div style="background-image:url(assets/images/planing_family_1.png)"></div>
  <div style="background-image:url(assets/images/planing_family_2.png)"></div>
  <div style="background-image:url(assets/images/planing_friend_1.png)"></div>
  <div style="background-image:url(assets/images/planing_friend_2.png)"></div>
</div>
