<app-header *ngIf="!isLogin"></app-header>
<main [class]="isLogin ? 'loginStyle': null">
  <div [class]="isLogin ? null : 'container pb-4'">
    <router-outlet></router-outlet>
  </div>
</main>
<app-footer *ngIf="!isLogin"></app-footer>

<div id="preloadImages">
  <div style="background-image:url(assets/travelers/1.webp)"></div>
  <div style="background-image:url(assets/travelers/2.webp)"></div>
  <div style="background-image:url(assets/travelers/3.webp)"></div>
  <div style="background-image:url(assets/travelers/4.webp)"></div>
  <div style="background-image:url(assets/travelers/5.webp)"></div>
  <div style="background-image:url(assets/travelers/6.webp)"></div>
  <div style="background-image:url(assets/travelers/7.webp)"></div>
  <div style="background-image:url(assets/travelers/8.webp)"></div>
  <div style="background-image:url(assets/travelers/9.webp)"></div>
  <div style="background-image:url(assets/travelers/10.webp)"></div>
  <div style="background-image:url(assets/travelers/11.webp)"></div>
  <div style="background-image:url(assets/travelers/12.webp)"></div>
  <div style="background-image:url(assets/travelers/13.webp)"></div>
  <div style="background-image:url(assets/travelers/14.webp)"></div>
  <div style="background-image:url(assets/travelers/15.webp)"></div>
  <div style="background-image:url(assets/travelers/16.webp)"></div>
  <div style="background-image:url(assets/travelers/17.webp)"></div>
  <div style="background-image:url(assets/travelers/18.webp)"></div>
  <div style="background-image:url(assets/travelers/19.webp)"></div>
  <div style="background-image:url(assets/travelers/20.webp)"></div>
  <div style="background-image:url(assets/travelers/21.webp)"></div>
  <div style="background-image:url(assets/travelers/22.webp)"></div>
  <div style="background-image:url(assets/travelers/23.webp)"></div>
  <div style="background-image:url(assets/travelers/24.webp)"></div>
  <div style="background-image:url(assets/travelers/25.webp)"></div>
</div>
