main.loginStyle {
  // tama単o header - margin del header - tama単o footer - margin del footer
  min-height: 100vh;
  background-color: var(--color-primary);
}

main:not(.loginStyle) {
  // tama単o header - margin del header - tama単o footer - margin del footer
  min-height: calc(100vh - 63px - 60px);
}
