<div id="planingComponent">
  <h2>Próximamente</h2>
  <p>Sabemos que te mueres de ganas de conocer todos los detalles del evento pero tenemos que pedirte que suportes la
    espera un poco más</p>
  <div id="countdown">
    <div>
      <span>Días</span>
      <span>Horas</span>
      <span>Minutos</span>
      <span>Segundos</span>
    </div>
    <div class="numbers">
      <span id="days">00</span>
      <span id="hours">00</span>
      <span id="minutes">00</span>
      <span id="seconds">00</span>
    </div>
  </div>
</div>
