@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";


:root {
  --color-light: #ffffff;
  --color-medium: #828282;
  --color-dark: #000000;

  // --color-primary: #0f1941;
  --color-primary: #0d453f;
  --color-secondary: #869d84;
  --color-tertiary: #6ba5b4;
}

.color-light { color: var(--color-light);}
.color-medium { color: var(--color-medium);}
.color-dark { color: var(--color-dark);}
.color-primary { color: var(--color-primary);}
.color-secondary { color: var(--color-secondary);}
.color-tertiary { color: var(--color-tertiary);}

.bg-color-light { background-color: var(--color-light);}
.bg-color-medium { background-color: var(--color-medium);}
.bg-color-dark { background-color: var(--color-dark);}
.bg-color-primary { background-color: var(--color-primary); color: var(--color-light);}
.bg-color-secondary { background-color: var(--color-secondary);}
.bg-color-tertiary { background-color: var(--color-tertiary);}

html{
  font-size: 14px;
}

body, main{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

:fullscreen, ::backdrop {
  background-color: inherit
}


#header.on-hover #navbar {
  transform: translateY(-100%);
  transition: 1s;
}

#header.on-hover:hover #navbar {
  transform: translateY(0);
  transition: 1s;
}

#footer.on-hover div {
  transform: translateY(100%);
  transition: 1s;
  visibility: hidden;
}

#footer.on-hover:hover div {
  transform: translateY(0);
  transition: 1s;
  visibility: hidden;
}
