
#map {
  height: 60vh;
  text-align: center;
}

::ng-deep {
  .jsvmap-zoom-btn.jsvmap-zoomin {
    top: 10px;
  }

  .jsvmap-zoom-btn.jsvmap-zoomout {
    top: 40px;
  }

  .jsvmap-zoom-btn {
    background-color: var(--color-primary);
    padding: 8px;
    height: unset;
    width: unset;
    left: 20px;
  }
}

.size-icon {
  font-size: 1.3rem;
}

.box {
  border-radius: 5px;
  transition: all 0.5s ease-out;
  height: 350px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .box-text {
    font-size: 1rem;
  }
}

.box:hover {
  box-shadow: 0 0 6px red;
}

.btn {
  background-color: #4d0707;
  color: white;
}

.size {
  width: 30px;
  margin: 0 auto;
}

a i {
  color: red;
}

table {
  font-size: 0.8rem;
}

.table td {
  padding: 0.55rem 0.75rem;
}

.image-flag {
  width: 20%;
  max-height: 40px;
  margin: 0 auto;
}

.box-mobile {
  display: none;
}

.box-desktop {
  display: flex;
}

@media (max-width: 575px) {
  #map {
    height: auto;
    width: 100%;
    text-align: center;
  }

  .box {
    height: 250px;
    .box-text {
      font-size: 0.8rem;
    }
  }

  .btn {
    font-size: 0.8rem;
  }

  .box-mobile {
    display: flex;
  }

  .box-desktop {
    display: none;
  }

  .image-flag {
    width: 100%;
    margin: 0;
  }

  ::ng-deep {
    .jsvmap-zoom-btn.jsvmap-zoomin {
      top: unset;
      bottom: 30px;
    }

    .jsvmap-zoom-btn.jsvmap-zoomout {
      top: unset;
      bottom: 5px;
    }

    .jsvmap-zoom-btn {
      background-color: red;
      padding: 5px;
      height: unset;
      width: unset;
      left: 20px;
    }
  }
}
