<!-- relleno que solo ponga una descripcion de cada sección -->
<!-- cubito de from to -->
<!-- stepper -->


<div id="homeComponent">

  <div class="searcher mb-5 row">
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="Madrid">
      <label for="floatingInput">Origen</label>
    </div>
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="Avila">
      <label for="floatingInput">Destino</label>
    </div>
    <div class="form-floating col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="08/09-JUN-2024">
      <label for="floatingInput">Fecha de salida</label>
    </div>
    <div class="form-floating col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="2 Adultos">
      <label for="floatingInput">Número de Pasajeros</label>
    </div>
  </div>
  <div class="stepper">
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          1
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Alojamiento</h4>
        <p>Descubre el lugar en el que se celebrará el evento</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          2
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Reserva</h4>
        <p>Revisa los datos de tu reserva y las recomendaciones de viaje
        </p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          3
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Destinos</h4>
        <p>Conoce un poco de los destinos a los que hemos viajado estos años</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          4
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Viajeros</h4>
        <p>Conoce a todos los viajeros con los que hemos compartido este viaje</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          5
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Check-in</h4>
        <p>Confirma tus datos antes de viajar (cuanto antes mejor)</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          6
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Planing de Vuelo</h4>
        <p>Averígua todo lo que va a ocurrir <b>el día del viaje</b></p>
      </div>
    </div>
  </div>

</div>
