#homeComponent {

  .sections-container {

    .section {
      .col-lg-6 {
        height: 500px;
      }

      .title {
        font-size: 3rem;
        display: inline-block;
      }

      .sub-title {
        margin: 1rem 0 1rem 0;
        font-size: 1.2rem;
        color: var(--color-secondary);
      }

      .prueba {
        background-color: var(--color-primary);
        width: 100%;
        height: 100%;
      }

      .section-image {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-position: -200px;
        position: relative;
        cursor: pointer;
        transition: 500ms;

        &.image_1 {
          background: url("../../assets/images/us/30.webp") no-repeat center center/cover;
        }
        &.image_2 {
          background: url("../../assets/images/us/34.webp") no-repeat center center/cover;
        }
        &.image_3 {
          background: url("../../assets/images/us/6.webp") no-repeat center center/cover;
        }
        &.image_4 {
          background: url("../../assets/images/us/33.webp") no-repeat center center/cover;
        }
        &.image_5 {
          background: url("../../assets/images/us/21.webp") no-repeat center center/cover;
        }
        &.image_6 {
          background: url("../../assets/images/us/24.webp") no-repeat center center/cover;
        }
      }

      .section-image:hover{
        opacity: 1;
      }

      .section-link {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

  }

}

@media (max-width: 991px) {
  #homeComponent {
    .sections-container {
      .section {

        &.s2,
        &.s4,
        &.s6 {
          flex-direction: column-reverse;
        }

        .col-lg-6 {
          height: 100%;

          .section-image {
            height: 300px;
          }

          .title {
            font-size: 2em;
          }
        }
      }
    }
  }
}
