<div id="homeComponent">

  <div class="searcher row m-0" *ngIf="this.userService.currentUser.userRoles.includes('friend')">
    <h4>Itinerario de viaje</h4>
    <h6 *ngIf="this.userService.currentUser.userRoles.length > 1" class="mb-3">Escala 1</h6>
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput"
        [value]="this.userService.currentUser.origin |titlecase">
      <label for="floatingInput">Origen</label>
    </div>
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="Ávila">
      <label for="floatingInput">Destino</label>
    </div>
    <div class="form-floating col-5 px-1">
      <input type="text" class="form-control" id="floatingInput" value="08/09-JUN-2024">
      <label for="floatingInput">Fecha de salida</label>
    </div>
    <div class="form-floating col-4 col-lg-5 px-1">
      <input type="text" class="form-control" id="floatingInput"
        [value]="this.userService.currentUser.dependientes + (this.userService.currentUser.dependientes > 1 ? ' Adultos' : ' Adulto')">
      <label for="floatingInput">Pasajeros</label>
    </div>
    <div class="col-3 col-lg-2 p-0 ps-lg-2">
      <button class="btn btn-light w-100 h-100" (click)="startTrip()">Empezar</button>
    </div>
  </div>
  <div class="searcher row m-0" *ngIf="this.userService.currentUser.userRoles.includes('family')">
    <h4 *ngIf="this.userService.currentUser.userRoles.length === 1">Itinerario de viaje</h4>
    <h6 *ngIf="this.userService.currentUser.userRoles.length > 1" class="mb-3">Escala 2</h6>
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput"
        [value]="this.userService.currentUser.origin |titlecase">
      <label for="floatingInput">Origen</label>
    </div>
    <div class="form-floating mb-3 col-6 px-1">
      <input type="text" class="form-control" id="floatingInput" value="La Granja">
      <label for="floatingInput">Destino</label>
    </div>
    <div class="form-floating col-5 px-1">
      <input type="text" class="form-control" id="floatingInput" value="08/09-JUN-2024">
      <label for="floatingInput">Fecha de salida</label>
    </div>
    <div class="form-floating col-4 col-lg-5 px-1">
      <input type="text" class="form-control" id="floatingInput"
        [value]="this.userService.currentUser.dependientes + (this.userService.currentUser.dependientes > 1 ? ' Adultos' : ' Adulto')">
      <label for="floatingInput">Pasajeros</label>
    </div>
    <div class="col-3 col-lg-2 p-0 ps-lg-2">
      <button class="btn btn-light w-100 h-100" (click)="startTrip()">Empezar</button>
    </div>
  </div>

  <div class="stepper">
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          1
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Alojamiento</h4>
        <p>Descubre el lugar en el que se celebrará el evento</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          2
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Reserva</h4>
        <p>Revisa los datos de tu reserva y las recomendaciones de viaje
        </p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          3
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Destinos</h4>
        <p>Conoce un poco de los destinos a los que hemos viajado estos años</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          4
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Viajeros</h4>
        <p>Conoce a todos los viajeros con los que hemos compartido este viaje</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          5
        </div>
      </div>
      <div class="step-content left">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Check-in</h4>
        <p>Confirma tus datos antes de viajar (cuanto antes mejor)</p>
      </div>
    </div>
    <hr>
    <div class="step">
      <div class="step-circle">
        <div class="step-number">
          6
        </div>
      </div>
      <div class="step-content right">
        <img src="../../assets/users/aliceilopezg.jpeg">
        <h4>Planing de Vuelo</h4>
        <p>Averígua todo lo que va a ocurrir <b>el día del viaje</b></p>
      </div>
    </div>
  </div>

</div>
